body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
    margin: 0;
    backgroundimage:url("back_pic.jpg");
}

header {
    background-color: #000000;
    color: white;
    padding: 25px 0;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: 30px auto;
    padding: 45px;
    background: #1f5461;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
}

input, button {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}

#confirmationMessage {
    margin-top: 15px;
    font-weight: bold;
    color: green;
}
